.ConfirmaPresencaCustom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TituloPagina{
    text-align: center;
}

.formConfirmaPresenca{
    display: flex;
    flex-wrap: wrap;
}