.footerStyle{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color:  #291800 !important;
    text-align: center;
    padding: 15px;
    position: fixed;
   // position: relative;
    width: 100%;
    margin-top: auto;
    bottom: 0;
  }