.footerStyle{
    bottom: 0!important;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color:  #291800 !important;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
  }