.footerStyle{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color:  #c65038 !important;
    text-align: center;
    padding: 2px;
    //position: fixed;
    position: relative;//rodape no final da pagina rolando
    width: 100%;
    margin-top: auto;
    bottom: 0;
    margin-bottom: 0;
  }