$font-primary: 'Cinzel', serif;
$color-primary: #2360a1; //azul escuro
$color-secondary: #f4f4f9; // Cinza claro
$color-terciary: #c5b37b; //amarelo esverdeado
$color-quartenary: #71aad3; //azul claro
$color-accent: #fff; // Branco
$color-accent2: #9ca5a7; //cinza
$color-custom: #5566ff; // azul leve

.navBarStyle {
  background-color: rgba(1, 50, 32, 0) !important;
  border-bottom: 2px solid rgba(1, 50, 32, 0) !important;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;

  // &.hidden {
  //   background-color: #013220 !important;
  //   border-bottom: 2px solid #013220 !important;
  // }

  &.hidden {
    .customIconButton {
      color: $color-primary !important; /* Cor azul escuro ($color-primary) */
    }
  }
}

.customIconButton:hover {
  color: #5566ff; /* Cor azul mais claro ($color-custom) ao passar o mouse */
}

.logoLink {
  width: fit-content;
  text-decoration: none;
  display: flex;
  align-items: center;

  .MuiSvgIcon-root {
    transition: color 0.3s ease;
  }

  &:hover .MuiSvgIcon-root {
    color: #fffacd; // Cor do ícone ao passar o mouse (tom mais claro de dourado)
  }
}

.menuHamburguer {
  height: 100%;
  color: $color-accent !important;
  width: 250px;
}

.menuItemHamburguer {
  transition: background-color 0.3s ease, color 0.3s ease;

  .MuiButtonBase-root {
    background-color: #0d3d3b !important;
  }

  .MuiTypography-root {
    color: #f0f0f0; // Cor do texto mais clara
  }

  .MuiListItemIcon-root {
    color: #f0f0f0; // Cor dos ícones mais clara
  }

  &:hover {
    background-color: $color-primary !important;//#10514E !important;

    .MuiTypography-root {
      color: $color-accent; // Cor do texto durante o hover
    }

    .MuiListItemIcon-root {
      color: $color-accent; // Cor dos ícones durante o hover
    }
  }
}

.drawerStyle {
  .MuiDrawer-paper {
    background-color: $color-quartenary !important; //#ABBEFF  Fundo escuro
    color: $color-accent !important; // Cor do texto mais clara
  }
}