@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.LocalCustom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%; /* Padding padrão */
  }
  
  /* Adiciona padding maior no conteúdo quando a tela é pequena (para dispositivos móveis) */
  @media (max-width: 768px) {
    .LocalCustom {
      padding-bottom: 80px; /* Ajuste o valor conforme necessário para evitar sobreposição */
    }
  }
  

.TituloPagina {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #013220;
}

.LocalInfoPagina {
    text-align: center;
    color: #013220;
    font-family: 'Cinzel', serif;
  }

  .decorative-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 40px 0;
  }