.LocalCustom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

.TituloPagina {
    text-align: center;
    font-family: 'Windsong';
    color: #013220;
}

.LocalInfoPagina {
    text-align: center;
    color: #013220;
    font-family: 'Windsong';
}