:root {
    background-image: url('./image/muro-de-concreto-com-flores.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    /* max-width: 100%; */
}

body{
padding-top: 4em;
box-sizing: border-box;
}

.content {
  min-height: calc(100vh - 60px);
}


.footerStyle{
  bottom: 0!important;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color:  #291800 !important;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
}
/* .content {
    min-height: calc(100vh - 60px);
  } */
