/* :root {
    background-image: url('./image/muro-de-concreto-com-flores.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
} */

body{
padding-top: 4em;
box-sizing: border-box;
}

/* .content {
  min-height: calc(100vh - 60px);
} */

/* Estilizando o scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Hovered Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Windsong';
  src: url('../src/app/assets/fonts/Windsong.ttf') format('truetype');
}