.homeStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.carousel-image {
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
}

.carouselContainer {
  margin: 2%;
  margin-bottom: 5%;
  width: 50%;
  height: 50%;
}

.card-custom {
  display: flex;
  align-items: center;
}

// .ImagemCasalTexto {
//   width: 100%;
//   height: 100%;
//   border-radius: 2%;
// }

.textoCasal {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.vessiculo{
  color: #c65038;
  font-family: 'Windsong';
}