@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.homeStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.carousel-image {
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
}

.carouselContainer {
  margin: 2%;
  margin-bottom: 5%;
  width: 50%;
  height: 50%;
}

.card-custom {
  display: flex;
  align-items: center;
}

.textoCasal {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.citacao {
  color: #013220;
  font-family: 'Cinzel', serif;
  text-align: center;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.autor {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  color: #555;
  margin-top: 0;
}