$font-primary: 'Cinzel', serif;
$color-primary: #006289; // Azul escuro
$color-secondary: #f4f4f9; // Cinza claro
$color-accent: #fff; // Branco
$color-custom: #5566ff;

.ImagemPresente {
  width: fit-content; /* Garante que a imagem se ajuste ao contêiner */
  max-width: 100%; /* Limita a largura da imagem ao tamanho do contêiner */
  height: 100%; /* Permite que a altura da imagem seja ajustada proporcionalmente */
  max-height: 100%; /* Limita a altura da imagem ao tamanho do contêiner */
  border-radius: 2%;
  object-fit: contain; /* Ajusta a imagem dentro do contêiner mantendo a proporção */
}

.BoxCustom{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-container {
  margin-top: 16px; /* Adjust the value as needed */
  color: $color-custom;
}
