// .App {
//     display: flex;
//     flex-direction: column;
//     min-height: 90vh;
// }


// .ImagemCasalContainer {
//     position: relative;
//     width: 100%;
//     max-height: 100vh;
//     overflow: hidden;
// }

// .ImagemCasal {
//     width: 100%;
//     height: auto;
//     object-fit: cover;
// }

// @media (max-width: 768px) {
//     .ImagemCasalContainer {
//         height: 60vh; 
//     }
// }

// @media (max-width: 580px) {
//     .ImagemCasalContainer {
//         height: 50vh;
//     }
// }

// @media (max-width: 480px) {
//     .ImagemCasalContainer {
//         height: 40vh;
//     }
// }

// @media (max-width: 380px) {
//     .ImagemCasalContainer {
//         height: 30vh;
//     }
// }

// @media (max-width: 280px) {
//     .ImagemCasalContainer {
//         height: 30vh;
//     }
// }

// .ImagemCasalContainer::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 30%; /* Altura do gradiente */
//     background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
// }

// @media (max-width: 768px) {
//     .ImagemCasalContainer::after {
//         height: 20%;
//     }
// }

// @media (max-width: 480px) {
//     .ImagemCasalContainer::after {
//         height: 15%;
//     }
// }

// @media (max-width: 380px) {
//     .ImagemCasalContainer::after {
//         height: 30%;
//     }
// }

// .image-container {
//     position: relative;
//     margin-top: -8%;
// }

// .image-text-Data {
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     font-size: 4vw;
//     text-align: center;
//     font-family: 'Windsong';
//     font-weight: lighter;
// }

// .image-text {
//     position: absolute;
//     top: 80%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #c65038;//white;
//     font-family: 'Windsong';
//     font-weight: lighter;
//     font-size: 10vw;
//     text-align: center;
//     width: 100%;
// }



// html, body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     font-family: Arial, sans-serif;
// }

// .App {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
// }

// .content {
//     flex: 1; /* Expande para preencher o espaço disponível */
// }

// .ImagemCasalContainer {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
// }

// .ImagemCasal {
//     width: 100%;
//     height: auto;
//     object-fit: cover;
// }

// .ImagemCasalContainer::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 30%; /* Altura do gradiente */
//     background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// }

// .image-container {
//     position: relative;
//     margin-top: 10%;
// }

// .image-text-Data {
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     font-size: 4vw;
//     text-align: center;
//     font-family: 'Windsong';
//     font-weight: lighter;
// }

// .image-text {
//     position: absolute;
//     top: 80%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #c65038; //white;
//     font-family: 'Windsong';
//     font-weight: lighter;
//     font-size: 10vw;
//     text-align: center;
//     width: 100%;
// }

// /* Responsividade */
// @media (max-width: 768px) {
//     .App {
//         min-height: 60vh;
//     }

//     .ImagemCasalContainer {
//         height: 60vh;
//     }

//     .ImagemCasalContainer::after {
//         height: 20%;
//     }
// }

// @media (max-width: 580px) {
//     .ImagemCasalContainer {
//         height: 50vh;
//     }
// }

// @media (max-width: 480px) {
//     .ImagemCasalContainer {
//         height: 35vh;
//     }

//     .ImagemCasalContainer::after {
//         height: 15%;
//     }

//     .image-text-Data {
//         font-size: 6vw;
//     }

//     .image-text {
//         font-size: 12vw;
//     }
// }

// @media (max-width: 380px) {
//     .ImagemCasalContainer {
//         height: 30vh;
//     }

//     .ImagemCasalContainer::after {
//         height: 30%;
//     }

//     .image-text-Data {
//         font-size: 7vw;
//     }

//     .image-text {
//         font-size: 14vw;
//     }
// }

// @media (max-width: 280px) {
//     .ImagemCasalContainer {
//         height: 25vh;
//     }
// }



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Expande para preencher o espaço disponível */
    display: flex;
    flex-direction: column;
}

.Container {
    flex: 1;
    padding: 2%;
}

.ImagemCasalContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ImagemCasal {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ImagemCasalContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Altura do gradiente */
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.image-container {
    position: relative;
    margin-top: -1%; /* Ajuste a margem conforme necessário */
}

.image-text-Data {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    text-align: center;
    font-family: 'Windsong';
    font-weight: lighter;
}

.image-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c65038; //white;
    font-family: 'Windsong';
    font-weight: lighter;
    font-size: 10vw;
    text-align: center;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .App {
        min-height: 60vh;
    }

    .ImagemCasalContainer {
        height: 60vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }
    
}

@media (max-width: 580px) {
    .ImagemCasalContainer {
        height: 50vh;
    }

    .ImagemCasalContainer::after {
        height: 15%;
    }

    .image-text-Data {
        font-size: 6vw;
    }

    .image-text {
        font-size: 12vw;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }
}

@media (max-width: 480px) {
    .ImagemCasalContainer {
        height: 35vh;
    }

    .ImagemCasalContainer::after {
        height: 15%;
    }

    .image-text-Data {
        font-size: 6vw;
    }

    .image-text {
        font-size: 12vw;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }
}

@media (max-width: 380px) {
    .ImagemCasalContainer {
        height: 30vh;
    }

    .ImagemCasalContainer::after {
        height: 30%;
    }

    .image-text-Data {
        font-size: 7vw;
    }

    .image-text {
        font-size: 14vw;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }
}

@media (max-width: 280px) {
    .ImagemCasalContainer {
        height: 25vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-text-Data {
        font-size: 8vw;
    }

    .image-text {
        font-size: 16vw;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }
}


@media (min-width: 1200px) {
    .ImagemCasalContainer {
        height: 80vh;
    }

    .ImagemCasalContainer::after {
        height: 35%;
    }

    .image-text-Data {
        font-size: 3vw;
    }

    .image-text {
        font-size: 6vw;
    }
}

/* Telas médias */
@media (min-width: 768px) and (max-width: 1024px) {
    .App {
        min-height: 60vh;
    }

    .ImagemCasalContainer {
        height: 60vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-text-Data {
        font-size: 4vw;
    }

    .image-text {
        font-size: 8vw;
    }
}

/* Telas grandes */
@media (min-width: 1024px) {
    .ImagemCasalContainer {
        height: 80vh;
    }

    .ImagemCasalContainer::after {
        height: 25%;
    }

    .image-text-Data {
        font-size: 3vw;
    }

    .image-text {
        font-size: 6vw;
    }
}

/* Telas extra grandes */
@media (min-width: 1440px) {
    .ImagemCasalContainer {
        height: 90vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-text-Data {
        font-size: 2vw;
    }

    .image-text {
        font-size: 5vw;
    }
}