// Importando fontes
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

// Variáveis de estilo para facilitar personalizações futuras
$font-primary: 'Cinzel', serif;
$color-primary: #013220; // Verde escuro
$color-secondary: #f4f4f9; // Cinza claro
$color-accent: #fff; // Branco

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $font-primary;
  background-color: $color-secondary;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 0; // Começa invisível
  transition: opacity 2s ease-in-out; // Transição suave de opacidade

  &.loaded {
    opacity: 1; // Fica visível quando carregada
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Container {
  padding: 2%;
}

.ImagemCasalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 0%;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

.ImagemCasal {
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;

  &.loaded {
    opacity: 1; // Visível quando carregada
  }
}

.image-text {
  position: absolute;
  top: 120vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: clamp(2rem, 5vw, 8rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: $color-accent;
  text-align: center;
}

.countdown {
  text-align: center;
  margin-top: 1rem;
  color: $color-primary;
  position: relative;
  z-index: 2;

  h1 {
    font-size: clamp(12rem, 6vw, 5rem);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
  }

  p {
    font-size: 4.5rem;
    margin: 0.5rem 0 0;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); //rgba(0, 0, 0, 0.5); Fundo escuro semi-transparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;

  .loading-spinner {
    width: 100px;
    height: 100px;
    opacity: 0;
    animation: fadeIn 1s forwards; // Fade-in no GIF
  }
}

// Animação para fade-in
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Responsividade


// @media (max-width: 768px) {
//     .ImagemCasal {
//         max-height: 80vh;
//       }
    
//       .image-text {
//         font-size: clamp(2rem, 6vw, 6rem);
//         top: 65%;
//       }
    
//       .countdown h1 {
//         font-size: 6rem;
//       }
    
//       .countdown p {
//         font-size: 2.5rem;
//       }
//   }
  
//   @media (min-width: 1200px) {
//     .ImagemCasal {
//         max-height: 100vh;
//       }
    
//       .image-text {
//         font-size: clamp(3rem, 7vw, 8rem);
//         top: 80%;
//       }
    
//       .countdown h1 {
//         font-size: 8rem;
//       }
    
//       .countdown p {
//         font-size: 3rem;
//       }
//   }
  
//   @media (min-width: 900px) {
//     .ImagemCasal {
//         max-height: 100vh;
//       }
    
//       .image-text {
//         font-size: clamp(3rem, 7vw, 8rem);
//         top: 80%;
//       }
    
//       .countdown h1 {
//         font-size: 8rem;
//       }
    
//       .countdown p {
//         font-size: 3rem;
//       }
//   }
  
//   @media (min-width: 416px) {
//     .ImagemCasal {
//         max-height: 150vh;
//         //object-fit: contain;
//       }
    
//       .image-text {
//         font-size: clamp(1.2rem, 3.5vw, 3rem);
//         top: 45%;
//       }
    
//       .countdown {
//         h1 {
//           font-size: 3rem;
//         }
    
//         p {
//           font-size: 1.2rem;
//         }
//       }
//   }
  
//   @media (min-width: 300px) {
//     .ImagemCasal {
//       max-height: 150vh;
//       //object-fit: contain;
//     }
  
//     .image-text {
//       font-size: clamp(1.2rem, 3.5vw, 3rem);
//       top: 45%;
//     }
  
//     .countdown {
//       h1 {
//         font-size: 3rem;
//       }
  
//       p {
//         font-size: 1.2rem;
//       }
//     }
//   }


/* Dispositivos muito pequenos (até 400px) */
@media (max-width: 300px) {
    .ImagemCasal {
      max-height: 150vh;
      //object-fit: contain;
    }
  
    .image-text {
      font-size: clamp(1rem, 3vw, 2.5rem);
      top: 30%;
    }
  
    .countdown {
      h1 {
        font-size: 2.5rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
  }
  
  @media (min-width: 301px) and (max-width: 400px) {
    .ImagemCasal {
      max-height: 150vh;
      //object-fit: contain;
    }
  
    .image-text {
      font-size: clamp(1.2rem, 3.5vw, 3rem);
      top: 23rem;
    }
  
    .countdown {
      h1 {
        font-size: 3rem;
      }
  
      p {
        font-size: 1.2rem;
      }
    }
  }
  
  @media (min-width: 401px) and (max-width: 500px) {
    .ImagemCasal {
      max-height: 70vh;
      //object-fit: cover;
    }
  
    .image-text {
      font-size: clamp(1.5rem, 4vw, 4rem);
      top: 25rem;
    }
  
    .countdown {
      h1 {
        font-size: clamp(4rem, 5vw, 3.5rem);
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 501px) and (max-width: 600px) {
    .ImagemCasal {
      max-height: 70vh;
      //object-fit: cover;
    }
  
    .image-text {
      font-size: clamp(1.5rem, 4vw, 4rem);
      top: 30rem;
    }
  
    .countdown {
      h1 {
        font-size: clamp(4rem, 5vw, 3.5rem);
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }


  @media (min-width: 601px) and (max-width: 768px) {
    .ImagemCasal {
      max-height: 70vh;
      //object-fit: cover;
    }
  
    .image-text {
      font-size: clamp(1.5rem, 4vw, 4rem);
      top: 55%;
    }
  
    .countdown {
      h1 {
        font-size: clamp(4rem, 5vw, 3.5rem);
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }
  
  /* Dispositivos médios (769px a 1200px) */
  @media (min-width: 769px) and (max-width: 1200px) {
    .ImagemCasal {
      max-height: 80vh;
    }
  
    .image-text {
      font-size: clamp(2rem, 6vw, 6rem);
      top: 65%;
    }
  
    .countdown h1 {
      font-size: 6rem;
    }
  
    .countdown p {
      font-size: 2.5rem;
    }
  }
  
  /* Dispositivos grandes (acima de 1200px) */
  @media (min-width: 1201px) {
    .ImagemCasal {
      max-height: 100vh;
    }
  
    .image-text {
      font-size: clamp(3rem, 7vw, 8rem);
      top: 80%;
    }
  
    .countdown h1 {
      font-size: 8rem;
    }
  
    .countdown p {
      font-size: 3rem;
    }
  }
