html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Expande para preencher o espaço disponível */
    display: flex;
    flex-direction: column;
}

.Container {
    flex: 1;
    padding: 2%;
}

.ImagemCasalContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ImagemCasal {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ImagemCasalContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Altura do gradiente */
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.image-container {
    position: relative;
    margin-top: -1%; /* Ajuste a margem conforme necessário */
}

.image-text-Data {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c65038;
    font-size: 5vw;
    text-align: center;
    font-family: 'Windsong' !important;
    font-weight: lighter !important;
}

.image-text {
    //position: absolute;
    //top: 80%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    color: #c65038; //white;
    font-family: 'Windsong'!important;
    font-weight: lighter !important;
    font-size: 10vw !important;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .App {
        min-height: 60vh;
    }

    .ImagemCasalContainer {
        height: 30vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
    
}

@media (max-width: 580px) {
    .ImagemCasalContainer {
        height: 50vh;
    }

    .ImagemCasalContainer::after {
        height: 15%;
    }

    .image-text-Data {
        font-size: 6vw;
    }

    // .image-text {
    //     font-size: 12vw;
    // }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
}

@media (max-width: 480px) {
    .ImagemCasalContainer {
        height: 35vh;
    }

    .ImagemCasalContainer::after {
        height: 15%;
    }

    .image-text-Data {
        font-size: 6vw;
    }

    // .image-text {
    //     font-size: 12vw;
    // }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
}

@media (max-width: 430px) {
    .ImagemCasalContainer {
        height: 25vh;
    }

    .ImagemCasalContainer::after {
        height: 15%;
    }

    .image-text-Data {
        font-size: 6vw;
    }

    // .image-text {
    //     font-size: 12vw;
    // }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
}

@media (max-width: 380px) {
    .ImagemCasalContainer {
        height: 30vh;
    }

    .ImagemCasalContainer::after {
        height: 30%;
    }

    .image-text-Data {
        font-size: 5vw;
        top: 60%;
    }

    // .image-text {
    //     font-size: 14vw;
    // }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
}

@media (max-width: 280px) {
    .ImagemCasalContainer {
        height: 25vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-text-Data {
        font-size: 8vw;
    }

    // .image-text {
    //     font-size: 16vw;
    // }

    .image-container {
        position: relative;
        margin-top: 8%; /* Ajuste a margem conforme necessário */
    }

    .App {
        min-height: 100vh;
    }
}


@media (min-width: 1200px) {
    .ImagemCasalContainer {
        height: 100vh;
    }

    .ImagemCasalContainer::after {
        height: 35%;
    }

    .image-text-Data {
        font-size: 3vw;
    }

    // .image-text {
    //     font-size: 6vw;
    // }

    .App {
        min-height: 100vh;
    }
}

/* Telas médias */
@media (min-width: 768px) and (max-width: 1024px) {
    .App {
        min-height: 60vh;
    }

    .ImagemCasalContainer {
        height: 100vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    .image-text-Data {
        font-size: 4vw;
    }

    // .image-text {
    //     font-size: 8vw;
    // }

    .App {
        min-height: 100vh;
    }
}

/* Telas grandes */
@media (min-width: 1024px) {
    .ImagemCasalContainer {
        height: 100vh;
    }

    .ImagemCasalContainer::after {
        height: 25%;
    }

    .image-text-Data {
        font-size: 3vw;
    }

    // .image-text {
    //     font-size: 6vw;
    // }

    .App {
        min-height: 100vh;
    }
}

/* Telas extra grandes */
@media (min-width: 1440px) {
    .ImagemCasalContainer {
        height: 100vh;
    }

    .ImagemCasalContainer::after {
        height: 20%;
    }

    // .image-text-Data {
    //     font-size: 2vw;
    // }

    .image-text {
        font-size: 5vw;
    }

    .App {
        min-height: 100vh;
    }
}